@media screen and (max-width: 500px) /*version mobile*/
{


  body
  {
    margin: 0;
    padding: 0;
  }
    
  main 
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .Populaires /* populaire passe avant hébergement*/
  {
    order: -1;
    background-color: #f2f2f2;
  }

 .header
 {
   display: flex;
   flex-direction: row;
   border: 2px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   border-color: #f2f2f2;
   border-style: solid;
   
 }

 .navigation
 {
   display: flex;
   align-items: flex-start;
   max-width: 320px;
 }

 nav ul 
 {
   display: flex;
   list-style-type: none;
   margin-top: 0;
   margin-right: 20px;
   /* Rendre plus visible */
   font-weight: 500;
 }

 /* Abaisser nav et bordure noire transparente */
 nav ul li 
 {
   padding: 80px 40px 0 3px;
   position: relative;
   border-bottom: 10px;
   width: 100px;
   right: 100px;
 }
  
  /* Nav Bordure supérieure / Survol bleu foncé */
  nav ul li
  {
    transition-duration: 0.2s;
    
  }
 nav ul li:hover
 { 
   transition-duration: 0.2s;
 }

 .menuitem a:hover 
 {
   color: #0065fc;
 }

 /* p sinscrire / Mise en gras bleu foncé / Flottement à droite
 Alignement avec Nav */
 .sinscrire 
 {
   order: -1;
   font-weight: bolder;
   font-size: 16px;
   color: #0065fc;
   position: relative;
   right: 200px;
   top: 20px;
 }

 .filtres-list-item 
{
  align-items: center;
  border: 2px solid var(--tertiary-color);
  border-radius: 1.75rem;
  cursor: pointer;
  display: flex;
  height: 3rem;
  margin-top: 0.75rem;
}
 .footer
 {
   display: flex;
   flex-direction: column;
 }
}